.container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

h1 {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 50px;
}